<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Tv troper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../static/style.css">
<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js" type="text/javascript"></script>
  <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-graph.min.js"></script>
</head>
<body>
<div class = "title">
  <div class = "hd">TV TROPER</div>
  <div class = "desc">КАК МЕНЯЛСЯ КИНЕМАТОГРАФ С ГОДАМИ <br> (И ЧТО ВСЕ ЭТО ЗНАЧИТ)</div>
  <div class = "credits">[NUST MISIS + HSE] to be replaced</div>
</div>
<!-- partial:index.partial.html -->
<article class="timeline">
  <nav class="timeline__nav">
    <ul>
      <li><span>Мюзиклы</span></li>
      <li><span>Хоррор</span></li>
      <li><span>Комедия</span></li>
      <li><span>Документальный</span></li>
      <li><span>Драма</span></li>
      <li><span>Страны и жанры</span></li>
      <li><span>Ключевые слова</span></li>
      <li><span>Тропы и коммерция</span></li>
      <li><span>Кластеризация</span></li>
    </ul>
  </nav>
  <section class="timeline__section">
    <div class="wrapper">
      <p>На графиках изображены изменения популярности тропов для нескольких жанров с течением времени. Значение 200 соответствует наиболее популярному тропу, 0 -- тропам, не входящим в топ-200. Для наглядности выбрано по 3 тропа для жанра. Здесь сразу можно выделить чаще всего достаточно близкие по атмосфере и настроению комедии и мюзиклы, обладающие схожими популярными тропами на протяжении времени. </p>
	<h2 class="milestone">Мюзиклы</h2>      
	 <div id="container_2" style="width: 500px; height: 400px;"></div>	
      <p>В истории мюзиклов самым заметным событием является падение популярности Running Gag в 40-ые года, что очевидно было связано с Второй мировой войной. Также стоит отметить, что момент наименьшей популярности юмористического Running Gag совпадает с периодом роста популярности циничного и мрачного тропа DeadpanSnarker. </p>

      <h2 class="milestone">Хорроры</h2>
      <p>В хоррорах стабильно в лидерах находится троп BigBad, который подразумевает сюжет о глобальном зле. Также Интересен резкий рост популярности ShoutOut, который в свою очередь получил такую популярность по мере появления культовых фильмов и других проявлений культуры к которым можно было делать отсылки. Одновременно с ShoutOut в рядах самых популярных тропов занимает место AssholeVictim, суть которого заключается в позиционировании жертвы не с самой хорошей точки зрения.</p>
      <h2 class="milestone">Комедия</h2>
	<p>Долгое время в комедиях лидерство занимали тропы ShoutOut и RunningGag, которые, очевидно, прекрасно дополняли друг друга, так как заимствование старых шуток, и создание отсылок позволяли делать более насыщенные и интересные зрителям произведения. Со временем в жанре комедий начал появляться также и троп BigBad, который пришел в жанр лишь после процесса творческого поиска новых сюжетов. </p>
     
      <h2 class="milestone">Документальные</h2>
      <p>В жанре документальных фильмов в момент начала их активного появления сразу лидерство получают три тропа, каждый из которых является типичным маркером и приемом для большинства документальных фильмов и по сей день. Так для документальных фильмов изначально было стандартным использование стоковых футажей, “говорящих голов” и использование эффекта Ken Burns для демонстрации зрителю различных деталей объекта повествования. </p>
           <h2 class="milestone">Драма</h2>
      
      <p>В драмах изначально с началом активного развития кинематографа популярность набирает тройка тропов, которые по сей день являются лидерами по популярности в жанре драм. Bittersweet Ending, завершающий фильмы на напряженной и не всегда торжественной ноте, из этой тройки тропов наиболее быстро набрал популярность. Чуть менее быстро набрал популярность Foreshadowing, который представляет из себя отсылки внутри фильма. Последним, но не менее важным обрел широкое распространение ShoutOut, подразумевающий отсылки к другим фильмам.</p>
      <p>У многих известных режиссеров были выделены похожие использующиеся приёмы. Наблюдается и любовь Квентина Тарантино к камео, так и А. Тарковского к визуальной эстетике и флешбекам.</p>
 	<h2 class="milestone">Страны и жанры</h2>  
      <div id="container_4" style="width: 500px; height: 400px;"></div>  
      <p>Не менее любопытны популярные жанры в различных странах. В частности, можно заметить различия между Российским и Советским кинематографом и оценить влияние на тропы культурных особенностей.</p>
 
  <div id="container_5" style="width: 500px; height: 400px;"></div>
 <h2 class="milestone">Ключевые слова</h2>  
      <p>Для любого тропа можно определить также ключевые слова в описании фильмов, свойственные ему. Так, троп BigBad часто сопровождается такими словами в описании, как force (сила) “discover” (обнаружить), “lead” (направление, вести, руководить). Наличие героической жертвы в фильме можно заподозрить по слову “war”. Четвёртая стена же чаще ломается в комедийных сюжетах и сопровождается словами “school”, “story”, “mother”.
</p>
      <h2 class="milestone">Тропы и коммерция</h2>  

	<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
      <p>Более интересно влияние тропов на кассовые сборы фильмов. Так можно заметить, что зачастую влияние какого-то отдельного тропа не так уж велико, и скорее для каждого жанра можно выделить определенный набор тропов, позволяющий характеризовать жанр и наиболее кассовые тропы. </p>
      <h2 class="milestone">Кластеризация</h2>

<div id="container" style="width: 500px; height: 400px;"></div>
      <p>Поиск расстояния между жанрами на основе тропов позволяет интерпретировать каждый из жанров как точку на плоскости. Такое представление позволяет наглядно оценить расстояния между ними. Та же операция применима к странам. Так, в Китае и Индии тропы практически совпадают, к ним близки Россия, Франция, Великобритания и Япония, а вот Германия и США находятся в противоположной части плоскости.</p>
<div id="container_3" style="width: 500px; height: 400px;"></div>
    </div>
  </section>
</article>
<div class = "title">
  <div class = "desc">ЗДЕСЬ БУДЕТ ПРЕДСКАЗАТЕЛЬНАЯ МОДЕЛЬ <br> ПОЖАЛУЙСТА, НЕ ПЕРЕКЛЮЧАЙТЕСЬ</div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script  src="../static/script.js"></script>
  <script  src="../static/plotly-latest.min.js"></script>
  <script  src="../static/graphs.js"></script>
<script>anychart.onDocumentReady(function () {
    // create data
    var data = {
      nodes: [
        {id:  "Crime", x:   -24.96444723, y: -16.6151846},
        {id: "Talk-Show",   x:  1.67574264, y: 0.18421092},
        {id: "Short",   x: 61.13581895, y: -13.96253871},
        {id: "Family",    x: -41.24626437, y: 15.12824915},
        {id: "Sport",   x: -5.15411844, y:  17.38514525},
        {id: "Romance",   x: -1.39035236, y: 31.53875288},
        {id: "War",   x: 24.77312145, y: -5.19552042},
        {id: "Horror",   x: 1.22830209, y: -41.91467539},

        {id: "Documentary",   x:  60.47992701, y: 6.50568645},
        {id: "Thriller",   x: -19.78994422, y: -13.96253871},
        {id: "Drama",    x: -12.95668625, y: 23.64345598},
        {id: "Adult",   x: 42.31368527, y:  -12.02203394},
        {id: "Sci-fi",   x: -38.50620661, y: -20.4815127},
        {id: "History",   x: 31.86230852, y: 1.57359759},
        {id: "Fantasy",   x: -53.64259701, y: -11.68682517},

        {id: "Music", x:  -16.53589571, y: 49.36682057},
        {id: "Musical",   x:  10.17997935, y: 49.2302098},
        {id: "Western",   x:  5.81546685, y: -14.79162945},
        {id: "Action",    x: -51.00799245, y: -22.85738524}
      ],
      edges: [
      ]
    };

    // create a chart and set the data
    chart = anychart.graph(data);
	chart.layout().type('fixed');
	chart.nodes().labels().enabled(true);

// configure labels of nodess
chart.nodes().labels().fontSize(5);
chart.nodes().labels().fontWeight(300);
    // prevent zooming the chart with the mouse wheel
    chart.interactivity().zoomOnMouseWheel(false);

    // set the chart title
    chart.title("Кластеризация жанров по тропам");


    // set the container id
    chart.container("container");

    // initiate drawing the chart
    chart.draw();
    chart.zoomIn();
    chart.zoomIn();


    var data_2 = {
      nodes: [
        {id:  "UK", x:   -26.06490091, y: 0.41980173},
        {id: "Japan",   x:  -25.13172629, y: -6.24044811},
        {id: "Italy",   x: 11.58913515, y: -16.40382949},
        {id: "Germany",    x: 65.4773641, y: -30.4488515},
        {id: "US",   x: 45.77447402, y:  -27.77098327},
        {id: "France",   x: -42.809629, y: 16.6359481},
        {id: "China",   x: -52.5895996, y: 3.26426934},
        {id: "India",   x: -52.39978508, y: 3.37829258},
        {id: "Russia",   x:  -44.36028039, y: -2.18769303}
      ],
      edges: [
      ]
    };

    // create a chart and set the data
    chart2 = anychart.graph(data_2);
	chart2.layout().type('fixed');
	chart2.nodes().labels().enabled(true);

// configure labels of nodes
chart2.nodes().labels().fontSize(5);
chart2.nodes().labels().fontWeight(300);
    // prevent zooming the chart with the mouse wheel
    chart2.interactivity().zoomOnMouseWheel(false);

    // set the chart title
    chart2.title("Кластеризация стран по тропам");


    // set the container id
    chart2.container("container_3");

    // initiate drawing the chart
    chart2.draw();
    chart2.zoomIn();
    chart2.zoomIn();
    chart2.zoomIn();
});
</script>
</body>
</html>
